nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  height: 120px;
  width: 100vw;
  max-width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: #4056A1;
  color: #f4f1ec;
  font-family: "Bungee", sans-serif;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  margin: -15px;
  font-family: "Source Sans 3", sans-serif;
}

.new-tweet:hover {
  cursor: pointer;
}
