form {
  height: 150px;

  background-color: #f3f1ed;
}

form button {
  font-family: "Bungee", sans-serif;
  font-size: 1.5rem;

  background-color: #4056A1;
  color: #FFFFFF;
}

form button:hover {
  cursor: pointer;
}

form textarea {
  font-family: "Source Sans 3", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #000000;

  height: 2.5rem;
  width: 80vw;
  max-width: 100%;

  border: none;
  border-bottom: solid;
  resize: none;
  box-sizing: border-box;

  background-color: #f3f1ed;
}

form textarea:focus {
  outline: none;
}

form output {
  font-family: "Bungee", sans-serif;
  font-size: 1.5rem;
  color: #000000;
}

form div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media only screen and (min-width: 1024px) {
  form textarea {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    color: #000000;

    height: 2.5rem;
    width: 50vw;

    background-color: #f3f1ed;
  }
}
